body, ul, li {
	margin: 0;
	padding: 0;
}


/* https://www.webpagefx.com/blog/web-design/responsive-background-image/ */
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-color: #464646;
}

.center {
	width: 100%;
	margin: 15% auto;
}

#weather-list {
	text-align: center;
}

#out {
	text-align: center;
}

#weather-list li {
	list-style-type: none;
}

li:nth-child(1) {
	height: 100px;
}

li:nth-child(1) img {
	width: 128px;
	height: 128px;
}

li:nth-child(2) {
	font-size: 64px;
	cursor: pointer;
}

li:nth-child(3) {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

li:nth-child(4) {
	font-size: 14px;
	letter-spacing: 1px;;
}

/* https://codepen.io/alanshortis/pen/eJLVXr */

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg);
	            transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
   	-webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}

@keyframes pulse {
  50% {
    background: white;
  }
}

.loading {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 0.25rem solid rgba(255, 255, 255, 0.2);
	border-top-color: white;
	-webkit-animation: spin 1s infinite linear;
	        animation: spin 1s infinite linear;
}