body, ul, li {
	margin: 0;
	padding: 0;
}


/* https://www.webpagefx.com/blog/web-design/responsive-background-image/ */
body {
	background-image: url(assets/images/jason-blackeye-295313.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-color: #464646;
}

.center {
	width: 100%;
	margin: 50px auto;
}

#weather-list {
	text-align: center;
}

#out {
	text-align: center;
}

#weather-list li {
	list-style-type: none;
}

li:nth-child(1) img {
	width: 128px;
	height: 128px;
}

li:nth-child(2) {
	font-size: 64px;
	cursor: pointer;
}

li:nth-child(3) {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

li:nth-child(4) {
	font-size: 14px;
	letter-spacing: 1px;;
}